/* the correct way to fill the screen */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* General body styling */
body {
  font-family: 'Arial', sans-serif;
  /* background-color: #f4f4f4; */
  background-color: black;
  color: #333; /* Dark text color for readability */
}

/* lets us dynamically grow the map container fill the space */
#body-flex-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* Style for the heading (title) */
h1 {
  background-color: #3e4a36; /* Darker olive-camo color */
  border-radius: 5px; /* Rounded corners for the background */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15); /* Subtle shadow for depth */
  color: #fff; /* White text */
  font-size: 1.8em; /* Smaller font size */
  letter-spacing: 1px; /* Spacing between letters for clarity */
  margin: 10px; /* Reduce space above the title */
  padding: 0; /* Smaller padding around the title */
  text-align: center; /* Center align the title */
  text-transform: uppercase; /* Uppercase text for a bolder look */
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em; /* Smaller font size on mobile */
    padding: 8px 20px; /* Adjust padding for smaller screens */
  }
}

/* Additional styles for paragraphs or any text (if needed) */
p {
  font-size: 18px;
  color: #555; /* Light gray text color for content */
  text-align: center;
  margin-top: 20px; /* Space below title */
  line-height: 1.6; /* Increased line height for readability */
}
